.footer{
    background-color: #FF00FF;
    color: black;
    height:20vh;
    position: absolute;
    height: 20%;
    width: 100%;
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    width: 7vh;
    margin-left: 50%;
}

.footer-logo img{
    width: 100%;
    height:100%;
}

.footer p{
    color:white;
    
    margin-top: 20px;
}