h1,
h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-style: 11px;
  font-family: sans-serif;
}

img {
  width: 6rem;
  // margin-left: 20px;
  // height: auto;
}

Col {
  flex-direction: row;
}

Container {
  flex-direction: row;
}
