$primariColor: #FF00FF;
$secondaryTextColor: white;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $secondaryTextColor;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Link {
  text-decoration : 'none';
}

.error-img{

  height:75vh;
  width: 100%;
}

.footer{
  
  background-color: $primariColor;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.header{
  background-color: black;
  color: $secondaryTextColor;
}
#nav-dropdown{
  color: $secondaryTextColor;
}

.header-logo {
  margin-left: 20px;
  width:6vh;
}

.header-logo img{
  width: 100%;
  height: 100%;
}
